body{
    text-align: center;
    box-sizing: border-box;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 7rem;
    padding: 100px 100px 0 100px;
    line-height: 2;
}
h3 {
    font-size: 3.5rem;
    padding: 10px;
}
.container-fluid{
    padding: 0 15% 7% 15%;
  }
.row button{
    margin-left: 5% 3% 5% 0;
}
#title {
    background-color: #ff4c68;
    height: 600px;
    /* overflow: hidden; */
    /* position: relative; */
}
.navbar {
    background-color: transparent;
}
.navbar a{
    font-size: 1.3rem;
}
.navbar a:hover{
    color: white;
}
.title-img {
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
    right: 400px; 
    top: 150px;
}

.icon {
    color: #ef8172;
    margin-bottom: 15px;
}
.icon:hover{
   color: #ff4c68;
}
#features{
    padding: 7% 15% 1% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}
.featured-box {
    text-align: center;
    padding: 5%;
}
#testimonials{
    background-color: #ef8172;
    /* padding: 0 15% 7% 15%; */
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
#testimonials h2{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: normal;
    margin: auto;
}
.testimonial-img{
    width: 15%;
    border-radius: 100%;
    padding: 20px;
}
.carousel-item{
    padding: 0 15% 7% 15%;
}
#press {
    background-color: #ef8172;
    padding: 0 0 70px 0;
    text-align: center;
}
#press img{
    width: 15%;
    margin: 10px;
}
#pricing{
    padding: 100px;
    text-align: center;
}
#pricing h2{
    font-size: 3rem;
}
.card {
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
}
#cta {
    background-color: #ff4c68;
    height: 300px;
    color: #fff;
}
#cta button{
    margin-left: 30px;
}
.cta-h3{
    padding: 50px;
}
#footer{
    height: 150px;
    text-align: center;
}
.footer-icon{
    padding: 20px 5px 10px 5px;
    cursor: pointer;
}
.footer-icon:hover{
    color: #ff4c68;
}
@media (max-width: 1028px) {

    #title {
      text-align: center;
    }
  
    .title-img {
      position: static;
      transform: rotate(0);
      width: 28%;
    }
    #testimonials h2{
        font-size: 1.5rem;
    }
    .testimonial-img{
        width: 35%;
    }
    #press img{
        width: 30%;
    }
  }